body{
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}

div#board{
    position: relative;
    height: 100vh;
    width: 60%;
    margin: 0 auto;
    background: url(board.jpg) no-repeat;
    background-size: contain;
    border:  1px white solid;

}
#messageArea{
    border: 1px red solid;
    position: absolute;
    top: 0;
    color: rgb(83, 175, 19);
    left: 0;
}
table{
    position: absolute;
    top: 75px;
    left: 133px;
    bottom: 100px;
    border-spacing: 0px;
}
td{
    border: 1px red solid;
    width: 70.3px;
    height: 71px;
}
form{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 15px;

}

form input{
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1em;
    
}
.hit{
    background: url(ship.png) no-repeat center center;
    background-size: contain;
}
.miss{
    background: url(miss.png) no-repeat center center;
    background-size: contain;

}
@media (max-width:600px){
   table{
    top: 34px;
    left: 59px;
    bottom: 100px;
    border-spacing: 0px;
    }
    td{
        border: 1px red solid;
        width: 30px;
        height: 30px;
    }
    div#board{
        height: 350px;
        width: 60%;
       
    }
}
